# Ignora dependencias node del host
node_modules/
dist/
build/

# Ignora virtualenvs Python y archivos temporales
env/
venv/
__pycache__/
*.pyc
*.pyo
.DS_Store

# Si quieres ignorar resultados locales de build
frontend/node_modules/
frontend/dist/
frontend/build/
